<form id="loginForm" name="loginForm">
    <div>
        <label for="nursecode">Nurse Code:</label>
        <input type="text" id="nursecode" name="nursecode">
    </div>

    {{!-- <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
    </div> --}}

    <div>
        <label for="password">Password (3 characters minimum):</label>
        <input type="password" id="password" name="password" minlength="3" required>
    </div>

    <input type="submit" value="Login">

</form>


<script>

    $(function () {
        $("#loginForm").on("submit", function (event) {
            event.preventDefault();

            var oUser = {
                nursecode: $('input[name=nursecode]').val(),
                password: $('input[name=password]').val()
            }

           // if(nursecode == null || "" || )

            

            $.ajax({
                type: 'POST',
                url: 'http://localhost:5000/api/login',
                data: oUser,
                //dataType: 'json',
                success: function (data, status) {
                    console.log("DATA HERE " + oUser.nursecode + " " + oUser.password)
                    hostName = window.location.origin
                    newUrl = hostName + "/residentsList"
                    location.href = newUrl
                },
                error: function (data, status) {
                    alert('POST failed!!.');
                }
            });


        });//end of user form func



    })//end of main function

</script>