<form id="nurseForm" name="nurseForm">
    <div>
        <label for="nursecode">Nurse Code:</label>
        <input type="text" id="nursecode" name="nursecode">
    </div>

    {{!-- <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
    </div> --}}

    <div>
        <label for="password">Password (3 characters minimum):</label>
        <input type="password" id="password" name="password" minlength="3" required>
    </div>

    <div>
        <label for="password">Repeat Password:</label>
        <input type="password" id="repeatPassword" name="repeatPassword" minlength="3" required>
    </div>

    <input type="submit" value="Register">

</form>


<script>

    $(function () {
        $("#nurseForm").on("submit", function (event) {
            event.preventDefault();
            //create an User Object to store 3 data values
            var oUser = {
                nursecode: $('input[name=nursecode]').val(),
                password: $('input[name=password]').val(),
                repeatPassword: $('input[name=repeatPassword]').val()
            }

            //compare passwords if they match
            if (oUser.password != oUser.repeatPassword) {
                console.log("Fail! Passwords do not match!")
            } else {
                delete oUser['repeatPassword'];
                //post the data using jquery ajax
                $.ajax({
                    type: 'POST',
                    url: 'http://localhost:5000/api/register',
                    //data: JSON.stringify(oUser),
                    data: oUser,
                    //dataType: 'json',
                    success: function (data) {
                        console.log("DATA HERE " + data)
                        hostName = window.location.origin
                        newUrl = hostName + "/residentsList"
                        location.href = newUrl
                        console.log("Data: " + data + " \nStatus: " + status)


                    },
                    error: function (data, status) {
                        console.log("Data: " + data + " \nStatus: " + status);
                    }
                });
            }
            console.log("testing what happens after if")

        });//end of user form func



    })//end of main function

</script>