<div class="container">

        <form class="row justify-content-center" id="registerForm" name="registerForm">

            <div class="col-lg-2"> 

            <div class="mb-3">
                <label for="nursecode" class="form-label">Nursecode</label>
                <input type="text" class="form-control" id="nursecode" name="nursecode">
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>

            <div class="mb-3">
                <label for="repeatPassword" class="form-label">Repeat Password</label>
                <input type="password" class="form-control" id="repeatPassword" name="repeatPassword">
            </div>

            <br>
            <button type="submit" class="btn btn-primary">Register</button>

            </div>

        </form>


</div>






<script>

    $(function () {
        $("#registerForm").on("submit", function (event) {
            event.preventDefault();
            //create an User Object to store 3 data values
            var oUser = {
                nursecode: $('input[name=nursecode]').val(),
                password: $('input[name=password]').val(),
                repeatPassword: $('input[name=repeatPassword]').val()
            }

            //if the nursecode is empty
            //show alert
            if (oUser.nursecode == "") {
                event.preventDefault(); //stop the form from submitting
                $("#formAlert").slideDown(400)
            }


            //compare passwords if they match
            if (oUser.password != oUser.repeatPassword) {
                console.log("Fail! Passwords do not match!")
            } else {
                delete oUser['repeatPassword'];
                //post the data using jquery ajax
                $.ajax({
                    type: 'POST',
                    url: 'http://localhost:5000/api/register',
                    //data: JSON.stringify(oUser),
                    data: oUser,
                    //dataType: 'json',
                    success: function (data) {
                        console.log("DATA HERE " + data)
                        hostName = window.location.origin
                        newUrl = hostName + "/residentsList"
                        location.href = newUrl
                        console.log("Data: " + data + " \nStatus: " + status)


                    },
                    error: function (data, status) {
                        console.log("Data: " + data + " \nStatus: " + status);
                    }
                });
            }
            console.log("testing what happens after if")

        });//end of user form func



    })//end of main function

</script>