<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-4 col-md-offset-4">

            <form id="registerForm" name="registerForm">
                <div class="form-group">
                    <label for="nursecode" class="form-label">Nursecode</label>
                    <input type="text" class="form-control nursecode" id="nursecode" name="nursecode">
                </div>

                <div class="form-group">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control password" id="password" name="password">
                </div>

                <div class="form-group">
                    <label for="repeatPassword" class="form-label">Repeat Password</label>
                    <input type="password" class="form-control repeatPassword" id="repeatPassword" name="repeatPassword">
                </div>

                <br>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>








<script>

    $(function () {
        $("#registerForm").on("submit", function (event) {
            event.preventDefault();
            //create an User Object to store 3 data values
            var oUser = {
                nursecode: $('input[name=nursecode]').val(),
                password: $('input[name=password]').val(),
                repeatPassword: $('input[name=repeatPassword]').val()
            }

            //if the nursecode is empty
            //show alert
            if (oUser.nursecode == "") {
                event.preventDefault(); //stop the form from submitting
                $("#formAlert").slideDown(400)
            }


            //compare passwords if they match
            if (oUser.password != oUser.repeatPassword) {
                console.log("Fail! Passwords do not match!")
            } else {
                delete oUser['repeatPassword'];
                //post the data using jquery ajax
                $.ajax({
                    type: 'POST',
                    url: 'http://localhost:5000/api/register',
                    //data: JSON.stringify(oUser),
                    data: oUser,
                    //dataType: 'json',
                    success: function (data) {
                        console.log("DATA HERE " + data)
                        hostName = window.location.origin
                        newUrl = hostName + "/residentsList"
                        location.href = newUrl
                        console.log("Data: " + data + " \nStatus: " + status)


                    },
                    error: function (data, status) {
                        console.log("Data: " + data + " \nStatus: " + status);
                    }
                });
            }
            console.log("testing what happens after if")

        });//end of user form func



    })//end of main function

</script>