body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

label {
  display: block;
  font: 0.9rem 'Fira Sans', sans-serif;
}

input[type='submit'],
label {
  margin-top: 1rem;
}
